
<div class="container">
    <!-- Content here -->
    <div class="alert alert-primary" role="alert">
        <h1 class="alert-heading">¡BIENVENIDO A LA BOMBONERA!</h1>
        <p>Te invitamos a participar con tu grupo de amigos o familiares a nuestro espacio de esparcimiento.</p>
        <hr>
        <p class="mb-0">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
      </div>
  </div>
