

    <nav class="navbar justify-content-center navbar-expand-lg navbar-light bg-light">
        <div class="justify-content-center" id="navbarNav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" id="linkPageListarAlquiler" routerLink="./listar">Listado alquiler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="limkPageCrearAlquiler" routerLink="./crear">Nuevo (+)</a>
            </li>
          </ul>
        </div>
      </nav>

      <app-respuesta></app-respuesta>
      <router-outlet></router-outlet>