<div class="container">
  <div class="alert-custom alert-white alert-shadow gutter-b" role="alert">
    <p class="lead">
      En la siguiente tabla se muestran todos lor registros de alquiler de la
      cancha sintetica la Bombondera.
    </p>
  </div>
  <div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">
          <strong>Listado alquiler</strong>
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" *ngIf="alquileres.length > 0" aria-describedby="Lista todos los alquileres creados">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Documento</th>
              <th scope="col">Fecha solicitud</th>
              <th scope="col">Fecha alquiler</th>
              <th scope="col">Hora inicio</th>
              <th scope="col">Hora Fin</th>
              <th scope="col">Costo</th>
              <th scope="col">Cancelar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alquiler of alquileres">
              <th scope="row">{{ alquiler.id }}</th>
              <td>{{ alquiler.documento }}</td>
              <td>{{ alquiler.fechaSolicitud }}</td>
              <td>{{ alquiler.fechaAlquiler }}</td>
              <td>{{ alquiler.horaInicio }}</td>
              <td>{{ alquiler.horaFin }}</td>
              <td>{{ alquiler.valorPagado }}</td>
              <td>
               <app-eliminar-alquiler [alquiler] = "alquiler"
                (alquilerEliminado)="onAlquilerEliminado()">
               </app-eliminar-alquiler>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
